
.container {
  margin: 5rem 2rem;
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 10rem;
  max-width: 800px;
  align-items: center;


  transition: opacity 0.5s;
  opacity: 1;
}

.personImage {
  border-radius: 50%;
  height: 7vw;
  min-height: 100px;
  
  /* width: 7vw;
  min-width: '80px';
  max-width: '10vw'; */
  display: block;
}

.textNextToPic {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 1em;
  width: 100%;
}

.name {
  font-size: calc(1em + 1vw);
  font-weight: bold;
}
.personDescription {
  font-size: calc(0.5em + 0.5vw) 
}

.testimonial {
  font-size: calc(1em + 1vw);
  text-align: center;
  min-width: 200px;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}
.show {
  opacity: 1;
  transition: all 1s;
}
